
paid-member-subscriptions/includes/views/shortcodes/view-shortcode-register-form.php
paid-member-subscriptions/includes/views/shortcodes/view-shortcode-new-subscription-form.php
paid-member-subscriptions/includes/functions-subscription-plan.php
paid-member-subscriptions/includes/functions-subscription-plan.php
